.test_image_and_result{
    background-color:grey;
    border-radius:15px;
    padding:30px;
    box-shadow: grey 10px 10px 20px;
    font-family: 'Dongle', sans-serif;
    font-size:30px;
    pading:
}