.test_image_and_result{
    background-color:grey;
    border-radius:15px;
    padding:30px;
    box-shadow: grey 10px 10px 20px;
    font-family: 'Dongle', sans-serif;
    font-size:30px;
}

.image
{
    width:300px;
    height:280px;
}
.results{
    background-image:url('84828-confetti-no-background.gif'); 
    background-repeat:repeat;
    border-radius:15px;
    padding:30px;
    box-shadow: grey 10px 10px 20px;
    font-family: 'Dongle', sans-serif;
    font-size:30px;
    text-align:center
}
#answer{
    color:red;
    font-size:40px;
}
